services:
  traefik:
    image: traefik:v2.11
    command:
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--log.level=DEBUG"
      - "--accesslog=true"
      - "--providers.docker=true"
      - "--providers.docker.swarmMode=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=stacks_default"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.traefik.address=:8082"
      - "--entrypoints.mvc-vt.address=:8101"
      - "--entrypoints.webflux.address=:8102"
      - "--entrypoints.nestjs.address=:8103"
      - "--entrypoints.dotnet.address=:8104"
      - "--entrypoints.golang.address=:8105"
      - "--entrypoints.fpm.address=:8106"
      - "--entrypoints.octane.address=:8107"
      - "--entrypoints.python.address=:8108"
      - "--entrypoints.rust.address=:8109"
      - "--entrypoints.quarkus.address=:8110"
      - "--metrics.prometheus=true"
      - "--metrics.prometheus.addEntryPointsLabels=true"
      - "--metrics.prometheus.addServicesLabels=true"
      - "--metrics.prometheus.buckets=0.01,0.025,0.05,0.075,0.1,0.15,0.2,0.3,0.4,0.6,0.8,1.2,2.0,3.0"
    ports:
      - "80:80"
      - "8082:8082"
      - "8101-8110:8101-8110"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.dashboard.rule=PathPrefix(`/dashboard`) || PathPrefix(`/api`)"
        - "traefik.http.routers.dashboard.service=api@internal"
        - "traefik.http.routers.dashboard.entrypoints=traefik"
        - "traefik.http.services.dummy.loadbalancer.server.port=9999" # Simple dummy to satiate validation
