services:
  prometheus:
    image: prom/prometheus:latest
    container_name: benchmark-prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-remote-write-receiver'
    ports:
      - "9091:9090"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        limits:
          memory: 6G

  grafana:
    image: grafana/grafana:latest
    container_name: benchmark-grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    deploy:
      resources:
        limits:
          memory: 6G

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: benchmark-cadvisor
    ports:
      - "8081:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    deploy:
      resources:
        limits:
          memory: 6G

  k6:
    image: grafana/k6:latest
    container_name: benchmark-k6
    volumes:
      - ./k6/scripts:/scripts
      - ./k6/reports:/reports
    working_dir: /scripts
    environment:
      - TARGETS=host.docker.internal:3005,host.docker.internal:3006,host.docker.internal:3007,host.docker.internal:3008,host.docker.internal:3009
      - K6_PROMETHEUS_RW_SERVER_URL=http://prometheus:9090/api/v1/write
      - K6_PROMETHEUS_RW_TREND_STATS=p(95),p(99),avg

    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: [ "run", "-o", "experimental-prometheus-rw", "load-all.js" ]
    profiles:
      - tools

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: benchmark-postgres-exporter
    environment:
      - DATA_SOURCE_NAME=postgresql://postgres:postgres@host.docker.internal:5432/benchmark?sslmode=disable
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "9187:9187"
    deploy:
      resources:
        limits:
          memory: 512M
