services:
  postgres:
    image: postgres:16-alpine
    container_name: laravel-fpm-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: benchmark
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ../init.sql:/docker-entrypoint-initdb.d/init.sql
    deploy:
      resources:
        limits:
          memory: 2G

  php-fpm-monolith-app:
    build:
      context: ./monolith
      dockerfile: Dockerfile
    container_name: php-fpm-monolith-app
    image: php-fpm-monolith-app
    environment:
      DB_CONNECTION: pgsql
      DB_HOST: postgres
      DB_DATABASE: benchmark
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      APP_KEY: base64:u8MvK+1512zU2m6XvP3Yv1rK8Z5o8z8k9u0u1u2u3u4=
      SESSION_DRIVER: array
    deploy:
      resources:
        limits:
          memory: 2G
    depends_on:
      postgres:
        condition: service_healthy

  php-fpm-monolith-web:
    image: nginx:alpine
    container_name: php-fpm-monolith-web
    ports:
      - "3010:80"
    volumes:
      - ./monolith:/var/www/html
      - ./monolith/nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - php-fpm-monolith-app
    deploy:
      resources:
        limits:
          memory: 1G

  php-fpm-gateway-app:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    container_name: php-fpm-gateway-app
    image: php-fpm-gateway-app
    environment:
      MONOLITH_URL: http://php-fpm-monolith-web
      APP_KEY: base64:u8MvK+1512zU2m6XvP3Yv1rK8Z5o8z8k9u0u1u2u3u4=
      SESSION_DRIVER: array
      APP_ENV: production
      APP_DEBUG: false
      LOG_CHANNEL: stderr
    deploy:
      resources:
        limits:
          memory: 2G
    depends_on:
      - php-fpm-monolith-web

  php-fpm-gateway-web:
    image: nginx:alpine
    container_name: php-fpm-gateway-web
    ports:
      - "3009:80"
    volumes:
      - ./gateway:/var/www/html
      - ./gateway/nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - php-fpm-gateway-app
    deploy:
      resources:
        limits:
          memory: 1G
